n8n-workflows/Yahoo-Finance-API-SETHD.json
{
  "name": "Yahoo-Finance-API-SETHD",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78d1e9e8-8b9e-4e5a-8b1a-8c1c2d3e4f5g",
              "name": "tickers",
              "value": "={{ ['PTT.BK', 'CPALL.BK', 'BDMS.BK', 'GULF.BK', 'DELTA.BK'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "9891d9dc-dbd1-42a9-8c76-881d1ad339cf",
      "name": "Stock List",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickers",
        "options": {}
      },
      "id": "5fe16e88-5411-41a1-827a-cdd333df1a9f",
      "name": "Split Tickers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1088,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{$json.tickers.slice()}}?range=1y&interval=1d",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "id": "e09a7feb-f7f3-4c7b-8b8a-08742e059fb6",
      "name": "Yahoo Finance API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -896,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        320
      ],
      "id": "72f38d93-e4c6-4b70-a97d-bee074c30006",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const charts = [];  \n$input.all().forEach(item => {\n  \n  const result=item.json.chart.result[0];\n  const ts = result.timestamp;\n  const q = result.indicators.quote[0];\n\n  const candles = ts.map((t, i) => ({\n      x: new Date(t * 1000).getTime(),\n      o: q.open[i],\n      h: q.high[i],\n      l: q.low[i],\n      c: q.close[i],\n  }));   \n\n  charts.push({ json: { symbol: result.meta.symbol, candles }});\n  \n});\n\n\nreturn charts;\n"
      },
      "id": "b816c75c-25c6-4269-8ecd-6c8b4f5fabee",
      "name": "OHLC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        560
      ]
    },
    {
      "parameters": {
        "path": "4554be53-85ff-486d-b532-1820c57ba2e4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        160
      ],
      "id": "feace621-cb92-4625-b4e3-877c49f49024",
      "name": "Webhook",
      "webhookId": "4554be53-85ff-486d-b532-1820c57ba2e4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"version\": \"3\",\n  \"backgroundColor\": \"#fff\",\n  \"width\": 500,\n  \"height\": 300,\n  \"devicePixelRatio\": 1.0,\n  \"chart\": \"{  type: 'candlestick', data: {    datasets: [      { label: '{{$json.symbol}}',  data: [ {{$json.candles.map(item => '{ x : ' +item.x +', o : '+item.o+', h:'+ item.h +', l : '+ item.l+', c: '+item.c+'}') }}],      },    ],  },  options: {    scales:{      x:{        adapters: {          date: {            zone: 'UTC-4'          }        },        time: {          unit: 'day',          stepSize: 1,          displayFormats: {            day: '',            month: 'MMM',          }        },        ticks: {          autoSkip: false,        },      }    },    plugins: {      legend: {        display: true,      },    },  },}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        320
      ],
      "id": "7190fcaa-ea9f-46ab-a6d5-5f6e4f555007",
      "name": "HTTP Request Candle Stick"
    },
    {
      "parameters": {
        "jsCode": "// ================= Helper Functions =================\n\n// EMA\nfunction calculateEMA(prices, period) {\n  if (prices.length < period) return [];\n\n  const k = 2 / (period + 1);\n  let ema = [];\n  \n  // First EMA = SMA\n  let sma = prices.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  ema[period - 1] = sma;\n\n  for (let i = period; i < prices.length; i++) {\n    ema[i] = (prices[i] - ema[i - 1]) * k + ema[i - 1];\n  }\n\n  return ema;\n}\n\n// RSI\nfunction calculateRSI(prices, period = 14) {\n  if (prices.length <= period) return [];\n\n  let gains = [];\n  let losses = [];\n\n  for (let i = 1; i < prices.length; i++) {\n    let change = prices[i] - prices[i - 1];\n    gains.push(change > 0 ? change : 0);\n    losses.push(change < 0 ? Math.abs(change) : 0);\n  }\n\n  let avgGain = gains.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  let avgLoss = losses.slice(0, period).reduce((a, b) => a + b, 0) / period;\n\n  let rsi = [];\n\n  for (let i = period; i < gains.length; i++) {\n    avgGain = (avgGain * (period - 1) + gains[i]) / period;\n    avgLoss = (avgLoss * (period - 1) + losses[i]) / period;\n\n    let rs = avgLoss === 0 ? 100 : avgGain / avgLoss;\n    rsi[i] = 100 - (100 / (1 + rs));\n  }\n\n  return rsi;\n}\n\n\n\n\n// ================= Main =================\n\nconst inputData = $input.all();\nlet output = [];\n\nfor (const item of inputData) {\n\n  const chartData = item.json.chart?.result?.[0];\n  if (!chartData) continue;\n\n  const symbol = chartData.meta.symbol.replace('.BK','');\n  const close = chartData.indicators.quote[0].close;\n\n  const ema50 = calculateEMA(close, 50);\n  const ema200 = calculateEMA(close, 200);\n  const rsi14 = calculateRSI(close, 14);\n\n  const lastIndex = close.length - 1;\n\n  const lastClose = close[lastIndex];\n  const lastEMA50 = ema50[lastIndex] || null;\n  const prevEMA50 = ema50[lastIndex - 1] || null;\n  const lastEMA200 = ema200[lastIndex] || null;\n  const prevEMA200 = ema200[lastIndex - 1] || null;\n  const lastRSI = rsi14[rsi14.length - 1] || null;\n\n  // ===== Signals =====\n  let goldenCross = false;\n  let deathCross = false;\n  let rsiOverbought = false;\n  let rsiOversold = false;\n\n  if (lastEMA50 && lastEMA200 && prevEMA50 && prevEMA200) {\n    goldenCross = prevEMA50 < prevEMA200 && lastEMA50 > lastEMA200;\n    deathCross = prevEMA50 > prevEMA200 && lastEMA50 < lastEMA200;\n  }\n\n  if (lastRSI !== null) {\n    rsiOverbought = lastRSI > 70;\n    rsiOversold = lastRSI < 30;\n  }\n\n  // Combine Signal Logic\n  let signal = \"NEUTRAL\";\n\n  if (goldenCross && !rsiOverbought) {\n    signal = \"STRONG BUY\";\n  } else if (deathCross && !rsiOversold) {\n    signal = \"STRONG SELL\";\n  } else if (rsiOversold) {\n    signal = \"BUY (RSI Oversold)\";\n  } else if (rsiOverbought) {\n    signal = \"SELL (RSI Overbought)\";\n  }\n\n  // ===== Trend Detection =====\n  let trend = \"SIDEWAYS\";\n\n  if (lastEMA50 && lastEMA200) {\n    if (lastEMA50 > lastEMA200) {\n      trend = \"BULLISH\";\n    } else if (lastEMA50 < lastEMA200) {\n      trend = \"BEARISH\";\n    }\n  }\n\n  output.push({\n    symbol,\n    lastClose,\n    signal,   \n    trend,   \n    RSI14: lastRSI,\n    rsiOverbought,\n    rsiOversold,    \n    EMA50: lastEMA50,\n    EMA200: lastEMA200,   \n    goldenCross,\n    deathCross,    \n  });\n}\n\nreturn output.map(i => ({ json: i }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        128
      ],
      "id": "dbcaedcf-2e83-4e71-a48f-bdad09bd511e",
      "name": "SIGNAL BUY/SELL"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "symbol",
          "mode": "list",
          "cachedResultName": "symbol"
        },
        "limit": 30,
        "where": {
          "values": [
            {
              "column": "SETHD",
              "value": "1"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "Seq"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "Symbol"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1472,
        320
      ],
      "id": "a1e51eeb-5b58-4e1d-9618-0987041d3aa2",
      "name": "Symbol",
      "credentials": {
        "postgres": {
          "id": "QlzKrRv21JGL4bDj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "candle_sticks",
          "mode": "list",
          "cachedResultName": "candle_sticks"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        560
      ],
      "id": "6a6c3ad6-e191-463f-996c-2659ee9a45b2",
      "name": "TruncateCandleSticks",
      "credentials": {
        "postgres": {
          "id": "QlzKrRv21JGL4bDj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst output=[];\n\nfor (const item of $input.all()) {  \n  output.push({\"tickers\":item.json.Symbol + '.BK'});\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        320
      ],
      "id": "fd3403aa-ba97-4057-9e02-6957c05f04fb",
      "name": "Load Tickers"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "market_signals",
          "mode": "list",
          "cachedResultName": "market_signals"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        128
      ],
      "id": "5a17c372-f8c2-4d39-856a-a0d3c534f7bd",
      "name": "TruncateMarketSignals",
      "credentials": {
        "postgres": {
          "id": "QlzKrRv21JGL4bDj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar id=1;\nfor (const item of $('SIGNAL BUY/SELL').all()) {\n  item.json.id = id;\n  id++;\n}\n\nreturn $('SIGNAL BUY/SELL').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "6e1bfca3-9f6f-48eb-8547-2d56a577f111",
      "name": "MarketSignalDataTable"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "market_signals",
          "mode": "list",
          "cachedResultName": "market_signals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "golden_cross": false,
            "death_cross": false,
            "last_close": "={{ $input.item.json.lastClose }}",
            "rsi_14": "={{ $input.item.json.RSI14 }}",
            "rsi_overbought": "={{ $input.item.json.rsiOverbought }}",
            "rsi_oversold": "={{ $input.item.json.rsiOversold }}",
            "ema_50": "={{ $input.item.json.EMA50}}",
            "ema_200": "={{ $input.item.json.EMA200}}",
            "symbol": "={{ $input.item.json.symbol}}",
            "id": "={{ $input.item.json.id }}",
            "signal": "={{ $input.item.json.signal }}",
            "trend": "={{ $input.item.json.trend }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_close",
              "displayName": "last_close",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "signal",
              "displayName": "signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trend",
              "displayName": "trend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rsi_14",
              "displayName": "rsi_14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rsi_overbought",
              "displayName": "rsi_overbought",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rsi_oversold",
              "displayName": "rsi_oversold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ema_50",
              "displayName": "ema_50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ema_200",
              "displayName": "ema_200",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "golden_cross",
              "displayName": "golden_cross",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "death_cross",
              "displayName": "death_cross",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        0
      ],
      "id": "fe8a7f30-ff15-4ad8-97c1-f1eec1637ff0",
      "name": "InsertMarketSignal",
      "credentials": {
        "postgres": {
          "id": "QlzKrRv21JGL4bDj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst chart = [];\nfor (const item of $('OHLC').all()) {\n  item.json.candles.forEach(candle => {\n    candle.symbol = item.json.symbol.replace('.BK','');\n    chart.push(candle);\n  });   \n}\nreturn chart;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        400
      ],
      "id": "4d9f3886-3436-4ef0-82f6-2287395144fd",
      "name": "CandleStickDataTable"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "candle_sticks",
          "mode": "list",
          "cachedResultName": "candle_sticks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "o": "={{ $input.item.json.h}}",
            "h": "={{ $input.item.json.h}}",
            "l": "={{ $input.item.json.l}}",
            "c": "={{ $input.item.json.c}}",
            "symbol": "={{ $input.item.json.symbol}}",
            "x": "={{ new DateTime($input.item.json.x)}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "x",
              "displayName": "x",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "o",
              "displayName": "o",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "h",
              "displayName": "h",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "l",
              "displayName": "l",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "c",
              "displayName": "c",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        400
      ],
      "id": "b4ca8159-db9c-463a-9e4e-6d425f7eaa2f",
      "name": "InsertCandleSticks",
      "credentials": {
        "postgres": {
          "id": "QlzKrRv21JGL4bDj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bcf105fc-745d-4f62-9e56-2af7eeffb32e",
              "leftValue": "={{ $json[\"success\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        480
      ],
      "id": "66400c6a-31e9-4ea6-bd00-9211cc377772",
      "name": "IfDoneTruncateCandleSticks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bcf105fc-745d-4f62-9e56-2af7eeffb32e",
              "leftValue": "={{ $json[\"success\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        64
      ],
      "id": "457303f8-9175-46d8-8972-20a62e231678",
      "name": "IfDoneTruncateMarketSignal"
    }
  ],
  "pinData": {},
  "connections": {
    "Stock List": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickers": {
      "main": [
        [
          {
            "node": "Yahoo Finance API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance API": {
      "main": [
        [
          {
            "node": "OHLC",
            "type": "main",
            "index": 0
          },
          {
            "node": "SIGNAL BUY/SELL",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Candle Stick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OHLC": {
      "main": [
        [
          {
            "node": "TruncateCandleSticks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Stock List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Symbol": {
      "main": [
        [
          {
            "node": "Load Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TruncateCandleSticks": {
      "main": [
        [
          {
            "node": "IfDoneTruncateCandleSticks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tickers": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIGNAL BUY/SELL": {
      "main": [
        [
          {
            "node": "TruncateMarketSignals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TruncateMarketSignals": {
      "main": [
        [
          {
            "node": "IfDoneTruncateMarketSignal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarketSignalDataTable": {
      "main": [
        [
          {
            "node": "InsertMarketSignal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CandleStickDataTable": {
      "main": [
        [
          {
            "node": "InsertCandleSticks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDoneTruncateCandleSticks": {
      "main": [
        [
          {
            "node": "CandleStickDataTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDoneTruncateMarketSignal": {
      "main": [
        [
          {
            "node": "MarketSignalDataTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "800a3528-3f65-4be1-95b7-a427105d2faf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0928f12e1eb5a286630102dc00fd975db9222bc811d84b6d141f7aed7780aea"
  },
  "id": "02AhfYvYZnvBzOAR3pPJ_",
  "tags": []
}